<div class="custom-dnd5e-form-wrapper flexrow">
    <form class="custom-dnd5e-form flexcol">
        <div class="scrollable">
            <ul class="custom-dnd5e-list flexcol">
                {{> "modules/custom-dnd5e/templates/abilities-list.hbs" items=items selects=selects}}
            </ul>
        </div>
        <footer>
            <button type="button" data-action="new" class="new-button bright">
                <i class="fas fa-plus"></i>{{localize "CUSTOM_DND5E.form.button.new.label"}}
            </button>
            <button type="button" data-action="reset" class="reset-button">
                <i class="fas fa-arrow-rotate-left"></i>{{localize "CUSTOM_DND5E.form.button.reset.label"}}
            </button>
            <button type="submit" class="save-button">
                <i class="fas fa-solid fa-floppy-disk"></i>{{localize "CUSTOM_DND5E.form.button.save.label"}}
            </button>
        </footer>
    </form>
</div>
