<form autocomplete="off" onsubmit="event.preventDefault();">
    <p class="notes">{{localize "CUSTOM_DND5E.dialog.importData.note.1"}}</p>
    <p class="custom-dnd5e-warning notes">{{localize "CUSTOM_DND5E.dialog.importData.note.2"}}</p>
    <div class="form-group">
        <input type="file" name="data" accept=".json" style="padding: 0.25rem 0;"/>
    </div>
</form>