<div class="form-group formula-input">
    <label>{{label}}</label>
    <div class="form-fields">
        <formula-input context="default" name="{{inputName}}" value="{{inputValue}}"></formula-input>
    </div>
</div>
