<div class="form-group">
    <label>{{localize "CUSTOM_DND5E.form.gameplay.probabilisticDamage.useProbabilisticDamage.label"}}</label>
    <div class="form-fields">
        <dnd5e-checkbox  name="useProbabilisticDamage" id="custom-dnd5e-use-probabilistic-damage" {{checked useProbabilisticDamage}}></dnd5e-checkbox>
    </div>
    <p class="hint">{{localize "CUSTOM_DND5E.form.gameplay.probabilisticDamage.useProbabilisticDamage.note"}}</p>
</div>