<div class="standard-form">
    <div class="standard-form scrollable">
        <section>
            <div class="custom-dnd5e-items-sections">
                <div class="items-section card">
                    <div class="items-header header">
                        <h3 class="item-name">{{localize "CUSTOM_DND5E.speedFactorInitiative.weaponsForm.title"}}</h3>
                    </div>
                    <ol class="item-list unlist custom-dnd5e-list">
                        {{> "modules/custom-dnd5e/templates/forms/list-edit.hbs" items=items}}
                    </ol>
                </div>
            </div>
        </section>
    </div>
    <footer class="form-footer" data-application-part="footer">
        <button type="button" data-action="reset" class="reset-button">
            <i class="fas fa-arrow-rotate-left"></i>{{localize "CUSTOM_DND5E.form.button.reset.label"}}
        </button>
        <button type="submit" class="save-button">
            <i class="fas fa-solid fa-floppy-disk"></i>{{localize "CUSTOM_DND5E.form.button.save.label"}}
        </button>
    </footer>
</div>
