.flex0 {
    flex: 0;
}

.custom-dnd5e-app {
    height: 100%;
}

.custom-dnd5e-app .hidden {
    display: none;
}

.custom-dnd5e-app .standard-form {
    height: 100%;
}

.custom-dnd5e-app.dnd5e2 .standard-form {
    gap: 0.75rem;
    padding-top: 5px;
}

.custom-dnd5e-app.application .flexrow {
    display: flex;
    flex: 1;
    gap: 0.5rem;
}

.custom-dnd5e-app.application li > .fields {
    border-left: 1px dotted var(--color-border);
    padding-left: 0.5rem
}

.theme-light .custom-dnd5e-app.application li > .fields {
    border-left: 1px dotted var(--dnd5e-color-gold);
}

.theme-dark .custom-dnd5e-app.application li > .fields {
    border-left: 1px dotted var(--dnd5e-color-blue-gray-3);
}

.custom-dnd5e-app nav.sheet-tabs {
    margin: 0;
}

.custom-dnd5e-app.application h2,
.custom-dnd5e-app.application h3 {
    margin: 0;
    padding-bottom: 0.25rem;
}

.custom-dnd5e-app.application h2 {
    font-family: var(--font-h3);
    font-size: 1.5rem;
}

.custom-dnd5e-app.dnd5e2.application h3 {
    font-size: 0.875rem;
    text-shadow: none;
    border-bottom: none;
    padding-top: 0.5rem;
}

.theme-light .custom-dnd5e-app.dnd5e2.application h3 {
    color: var(--color-text-dark-5);
}

.theme-dark .custom-dnd5e-app.dnd5e2.application h3 {
    color: var(--dnd5e-color-gold);
}

.custom-dnd5e-app.dnd5e2.application p {
    font-size: var(--font-size-11);
}

.custom-dnd5e-app.dnd5e2 .standard-form .form-group:not(.label-top) > label,
.custom-dnd5e-app.dnd5e2.standard-form .form-group:not(.label-top) > label {
    line-height: 1.2rem;
}

.custom-dnd5e-app.dnd5e2 .standard-form .form-group:not(.label-top) > label.flex0,
.custom-dnd5e-app.dnd5e2.standard-form .form-group:not(.label-top) > label.flex0 {
    flex: 0;
    padding-right: 0.5rem;
}

.custom-dnd5e-app.dnd5e2 .standard-form .form-group:not(.label-top, .checkbox),
.custom-dnd5e-app.dnd5e2.standard-form .form-group:not(.label-top, .checkbox) {
    gap: 0.5rem;
}

.custom-dnd5e-app .custom-dnd5e-drag {
    cursor: move;
}

.custom-dnd5e-col-group {
    gap: 0.5rem;
    padding: 0 0 0 0.5rem;
}

.theme-light .custom-dnd5e-col-group {
    border-left: 1px dotted var(--dnd5e-color-gold);
}

.theme-dark .custom-dnd5e-col-group {
    border-left: 1px dotted var(--dnd5e-color-blue-gray-3);
}

.custom-dnd5e-app .form-group.stacked label {
    align-items: center;
    display: flex;
}

.custom-dnd5e-app .field {
    align-items: center;
    display: flex;
    flex: 1;
    gap: 0.25em;
}

.custom-dnd5e-app .field.flex1 {
    flex: 1;
}

.custom-dnd5e-app .field.flex2 {
    flex: 2;
}

.custom-dnd5e-app .flexa {
    flex: auto;
}

.custom-dnd5e-app button.unbutton {
    background: none;
    border: none;
    border-radius: 0;
    display: inline-block;
    line-height: normal;
    margin: 0;
    padding: 0; 
    outline: none;
    width: unset;
}

.custom-dnd5e-app button.unbutton:focus,
.custom-dnd5e-app button.unbutton:hover {
    background: none;
    box-shadow: none;
    text-shadow: 0 0 5px var(--color-shadow-primary);
}

/*************************************
    TABBED FORM LAYOUT
**************************************/

.custom-dnd5e-app .standard-form.custom-dnd5e-tabbed {
    min-height: 0;
}

.custom-dnd5e-app .custom-dnd5e-tabbed nav.sheet-tabs {
    flex: none;
}

.custom-dnd5e-app .custom-dnd5e-tabbed .custom-dnd5e-tab-container {
    display: flex;
    flex: 1;
    min-height: 0;
}

.custom-dnd5e-app .custom-dnd5e-tabbed section.tab {
    flex: 1;
    min-height: 0;
}

.custom-dnd5e-app .custom-dnd5e-tabbed section.tab > .scrollable {
    flex: 1;
}

.custom-dnd5e-app .custom-dnd5e-tabbed section.tab > .scrollable.fieldset-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.custom-dnd5e-app .standard-form .form-footer > button.new-button {
    flex: 100%;
}

.custom-dnd5e-app .custom-dnd5e-tabbed section.tab .form-footer > button {
    flex: 1;
}

/*************************************
    NAVIGATION
**************************************/

.application.custom-dnd5e-app nav.tabs .item {
    color: var(--color-text-dark-5);
}

.theme-light .application.custom-dnd5e-app nav.tabs .item.active {
    color: var(--color-text-dark-primary);
}

/*************************************
    LIST / UL
**************************************/

.custom-dnd5e-app ul {
    border: 1px solid transparent;
    gap: 0rem;
    list-style-type: none;
    margin: 0.25rem 0 0 0;
    padding: 0;
}

.custom-dnd5e-app ul:empty {
    display: none;
}

.custom-dnd5e-app ul ul {
    flex: 100%;
    list-style-type: none;
    padding-left: 25px;
}

.theme-light .custom-dnd5e-app ul ul {
    border-top: 1px dotted var(--dnd5e-color-gold);
}

.theme-dark .custom-dnd5e-app ul ul {
    border-top: 1px dotted var(--dnd5e-color-blue-gray-3);
}

.custom-dnd5e-app ul > li:first-child {
    border-top: 1px solid transparent;
}

.custom-dnd5e-app ul:first-child:not(ul ul) {
    margin-top: 0;
}

.custom-dnd5e-app.application ul ul {
    flex: 100%;
}

.custom-dnd5e-app ul ul::before {
    content: "\2BA1";
    position: absolute;
    left: 0px;
    transform: translateY(45%);
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

.theme-light .custom-dnd5e-app ul ul::before{
    color: rgba(0,0,0, 0.25);
}

.theme-dark .custom-dnd5e-app ul ul::before{
    color: rgba(255,255,255, 0.25);
}

/*************************************
    LIST ITEM / LI
**************************************/

.custom-dnd5e-app li {
    border: 1px solid transparent;
}

.theme-light .custom-dnd5e-app li {
    border-top: 1px dotted var(--dnd5e-color-gold);
}

.theme-dark .custom-dnd5e-app li {
    border-top: 1px dotted var(--dnd5e-color-blue-gray-3);
}

.custom-dnd5e-app li {
    border: 1px dotted transparent;
}

.custom-dnd5e-app li:not(li li) {
    margin: 0;
    padding: 0.4rem 0 0.4rem 0;
    position: relative;
    list-style: none;
    margin-top: -2px;
}

.custom-dnd5e-app li li {
    align-items: center;
    border: 1px solid transparent;
    border-top: 1px solid var(--color-border);
    display: flex;
    gap: 0.25rem;
    padding: 0.4rem 0 0.4rem 0;
    position: relative;
}

.custom-dnd5e-app li li:last-child {
    padding-bottom: 0;
    
}

.custom-dnd5e-app li > i {
    color: var(--color-text-light-7);
}

.custom-dnd5e-app li.dragElem {
    opacity: 0.4;
}

.custom-dnd5e-app li.drag-top {
    border-top: 1px dashed red !important;
}

.custom-dnd5e-app li.drag-middle {
    border: 1px dashed red !important;
}

.custom-dnd5e-app li.drag-bottom {
    border-bottom: 1px dashed red !important;
}


/*************************************
    LIST BUTTONS
**************************************/

.application.dnd5e2 .flexrow > .custom-dnd5e-list-buttons,
.custom-dnd5e-list-buttons {
    display: flex;
    flex: 0;
    justify-content: center;
}

.dnd5e2 button.custom-dnd5e-list-button {
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0 0.5rem;
    margin: 0;
}

.dnd5e2 button.custom-dnd5e-list-button > i {
    margin: 0;
    min-width: 15px;
}

.theme-dark .dnd5e2 button.custom-dnd5e-list-button {
    color: var(--color-text-dark-5);
}

.dnd5e2 button.custom-dnd5e-list-button:hover,
.dnd5e2 button.custom-dnd5e-list-button:focus {
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
}

.dnd5e2 .custom-dnd5e-list-button:last-of-type {
    border-right: none;
}

.dnd5e2 .custom-dnd5e-list-button:hover {
    box-shadow: none;
}

.dnd5e2 .custom-dnd5e-list-button:disabled {
    cursor: unset;
}

.dnd5e2 .custom-dnd5e-list-button:disabled > i {
    color: transparent;
}

.custom-dnd5e-list-button:hover > i {
    text-shadow: 0 0 5px var(--color-shadow-primary);
    outline: none;
}

.custom-dnd5e-app.dnd5e2 .custom-dnd5e-list-button:disabled:hover > i {
    text-shadow: none;
}

/*************************************
    NOTES
**************************************/

.custom-dnd5e-app .custom-dnd5e-note,
.custom-dnd5e-app .custom-dnd5e-tip {
  position: relative;
  margin-block-end: 0;
  padding-block: 8px;
  padding-inline-start: 14px;
  padding-inline-end: 10px;
  font-size: var(--font-size-12);
  margin-bottom: 0.5rem;
}

.custom-dnd5e-app .custom-dnd5e-note {
  --note-color: var(--dnd5e-color-note-info);
}

.custom-dnd5e-app .custom-dnd5e-note.warn {
  --note-color: var(--dnd5e-color-note-warn);
}

.custom-dnd5e-app .custom-dnd5e-tip {
  --note-color: var(--custom-dnd5e-tip-color);
}

.custom-dnd5e-app .custom-dnd5e-note::before,
.custom-dnd5e-app .custom-dnd5e-tip::before {
  --marker-size: 14px;
  position: absolute;
  width: var(--marker-size);
  height: var(--marker-size);
  border-radius: 100%;
  inset-block: calc(50% - var(--marker-size) / 2);
  inset-inline-start: calc(-1 * var(--marker-size) / 2);
  align-content: center;
  background: var(--note-color);
  color: var(--dnd5e-color-parchment);
  font-family: var(--font-awesome);
  font-size: calc(var(--marker-size) * 0.75);
  font-weight: bold;
  text-align: center;
}

.custom-dnd5e-app .custom-dnd5e-note.info::before {
  content: "\f129";
}

.custom-dnd5e-app .custom-dnd5e-note.warn::before {
  content: "\21";
}

.custom-dnd5e-app .custom-dnd5e-advice.notes {
    border-radius: 3px;
    font-size: var(--font-size-11);
    margin: 0.2rem 0;
    padding: 0.15rem;
    flex: 0 1 100%;
}

.custom-dnd5e-app .custom-dnd5e-advice.notes.hp-note {
    margin: 1rem 0;
}

.theme-light .custom-dnd5e-app .custom-dnd5e-advice.notes {
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.theme-dark .custom-dnd5e-app .custom-dnd5e-advice.notes {
    background-color: rgba(255,255,255,0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: var(--color-light-2);
}

.custom-dnd5e-app .custom-dnd5e-warning.notes {
    background: rgba(255, 0, 0, 0.2);
    border: 1px solid var(--color-level-error);
    border-radius: 3px;
    color: var(--color-level-error);
    font-size: var(--font-size-11);
    margin: 0.2rem 0;
    padding: 0.15rem;
}

/*************************************
    CALENDAR EDIT FORM
**************************************/

#custom-dnd5e-calendar-edit-form .custom-dnd5e-list-header {
    flex: none;
    margin-right: calc(-1 * var(--scroll-margin, 0.75rem));
    padding-right: var(--scroll-margin, 0.75rem);
    overflow: hidden;
    scrollbar-gutter: stable;
}

#custom-dnd5e-calendar-edit-form .custom-dnd5e-list-header > span:not(:last-child) {
    box-sizing: border-box;
    padding: 0 6px;
    border: 1px solid transparent;
}

#custom-dnd5e-calendar-edit-form .custom-dnd5e-col-group {
    border-left: none;
    padding-left: 0;
}

#custom-dnd5e-calendar-edit-form .scrollable {
    padding-top: 5px;
}

.custom-dnd5e-app .drop-area,
.custom-dnd5e-app .massive-damage-table-field,
.custom-dnd5e-app .custom-dnd5e-macro-field {
    border: var(--dnd5e-border-dashed);
    border-radius: 4px;
    padding-inline: 4px;
    height: var(--form-field-height);
    display: flex;
    align-items: center;
}

.custom-dnd5e-app .massive-damage-table-field,
.custom-dnd5e-app .custom-dnd5e-macro-field {
    justify-content: space-between;
}

.custom-dnd5e-app .drop-area {
    font-style: italic;
    font-size: var(--font-size-11);
    color: var(--color-text-secondary);
    justify-content: center;
}