#custom-dnd5e-counters ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;
    max-width: calc(var(--skills-col-width) + 100px);
    min-width: var(--skills-col-width);
    padding: 0;
}

.custom-dnd5e-counters-counter h4 {
    align-items: center;
    display: flex;
    font-family: var(--dnd5e-font-roboto-condensed);
    font-size: var(--font-size-14);
    margin: 0;
}

/*
 * INPUTS
 */
.custom-dnd5e-counters-counter input {
    font-size: var(--font-size-14);
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.custom-dnd5e-counters-counter input.disabled {
    color: var(--color-text-light-7);
}

.dnd5e-theme-dark :is(.character, .npc)
    .custom-dnd5e-counters-counter input,
.dnd5e-theme-dark .dnd5e2:is(.character, .npc)
    .custom-dnd5e-counters-counter input:disabled {
    background-color: var(--dnd5e-color-iron-gray);
    color: var(--color-text-primary);
}

.dnd5e-theme-dark :is(.character, .npc)
.custom-dnd5e-counters-counter input:disabled,
.dnd5e-theme-dark .dnd5e2:is(.character, .npc)
    .custom-dnd5e-counters-counter input:disabled {
    color: var(--color-text-dark-6);
}

.custom-dnd5e-counters-link {
    align-items: center;
    display: flex;
    justify-content: center;
}

/*
 * ICONS
 */
.custom-dnd5e-counters-counters i {
    align-items: center;
    display: flex;
    color: var(--dnd5e-color-gold);
    font-size: var(--font-size-14);
    justify-content: center;
}

.dnd5e-theme-dark :is(.character, .npc)
    .custom-dnd5e-counters-counter i {
    color: var(--color-text-dark-secondary);
}

/*
 * SEPARATOR
 */
.dnd5e-custom-counters-separator {
    align-items: center;
    display: flex;
    color: var(--dnd5e-color-gold);
    font-size: var(--font-size-18);
    justify-content: center;
}

.dnd5e-theme-dark :is(.character, .npc)
    .dnd5e-custom-counters-separator {
    background-color: var(--dnd5e-color-iron-gray);
    color: var(--color-text-dark-secondary);
}

/*
 * FRACTIONS
 */
.custom-dnd5e-counters-fraction
    .custom-dnd5e-counters-counter-value {
    display: grid;
    grid-template-columns: 0.75fr 1.25fr 0.75fr 1.25fr;
}

.custom-dnd5e-counters-fraction-group {
    background-color: var(--dnd5e-color-parchment);
    border: 1px solid var(--color-border-light-tertiary);
    border-radius: 3px;
    display: grid;
    grid-column-start: 2;
    grid-template-columns: 1.25fr 0.75fr 1.25fr;
    grid-column-end: 5;
}

.dnd5e-theme-dark :is(.character, .npc)
    .custom-dnd5e-counters-fraction-group {
    background-color: var(--dnd5e-color-iron-gray);
    border: 1px solid var(--dnd5e-color-blue-gray-3);
}

.custom-dnd5e-counters-fraction input {
    background-color: var(--dnd5e-color-iron-gray);
    border: 0;
    border-radius: 0;
}

/*
 * NUMBERS
 */
.custom-dnd5e-counters-number
    .custom-dnd5e-counters-counter-value {
    display: grid;
    grid-template-columns: 0.75fr 1.25fr 0.75fr 1.25fr;
}

.custom-dnd5e-counters-number input {
    background-color: var(--dnd5e-color-parchment);
    grid-column: 4
}

.dnd5e-theme-dark :is(.character, .npc)
    .custom-dnd5e-counters-number input {
    background-color: var(--dnd5e-color-iron-gray);
    border: 1px solid var(--dnd5e-color-blue-gray-3);
}

/*
 * SUCCESS/FAILURE
 */
.custom-dnd5e-counters-success-failure
    .custom-dnd5e-counters-counter-value {
    background-color: var(--dnd5e-color-parchment);
    border: 1px solid var(--color-border-light-tertiary);
    border-radius: 3px;
    display: grid;
    grid-template-columns: 0.75fr 1.25fr 0.75fr 1.25fr;
}

.dnd5e-theme-dark  :is(.character, .npc)
    .custom-dnd5e-counters-success-failure
    .custom-dnd5e-counters-counter-value {
    background-color: var(--dnd5e-color-iron-gray);
    border: 1px solid var(--dnd5e-color-blue-gray-3);
}

.custom-dnd5e-counters-success-failure input,
.custom-dnd5e-counters-success-failure
    input:disabled:hover
    .custom-dnd5e-counters-success-failure
    input,
.custom-dnd5e-counters-success-failure input:disabled:hover {
    border: 0;
    border-left: 1px dashed var(--color-border-light-tertiary);
    border-radius: 0;
}

.dnd5e-theme-dark :is(.character, .npc)
    .custom-dnd5e-counters-success-failure input,
.dnd5e-theme-dark :is(.character, .npc)
    .custom-dnd5e-counters-success-failure
    input:disabled:hover
    .custom-dnd5e-counters-success-failure
    input,
.dnd5e-theme-dark :is(.character, .npc)
    .custom-dnd5e-counters-success-failure > input:disabled:hover {
    border-left: 1px dashed var(--dnd5e-color-blue-gray-3);
}

.custom-dnd5e-counters-success-failure input:first-of-type,
.custom-dnd5e-counters-success-failure
    input:first-of-type:disabled:hover
    .custom-dnd5e-counters-success-failure
    input:first-of-type,
.custom-dnd5e-counters-success-failure input:first-of-type:disabled:hover {
    border-right: 1px solid var(--color-border-light-tertiary);
}

.dnd5e-theme-dark :is(.character, .npc)
    .custom-dnd5e-counters-success-failure input:first-of-type,
.dnd5e-theme-dark :is(.character, .npc)
    .custom-dnd5e-counters-success-failure
    input:first-of-type:disabled:hover
    .custom-dnd5e-counters-success-failure
    input:first-of-type,
.dnd5e-theme-dark :is(.character, .npc)
    .custom-dnd5e-counters-success-failure input:first-of-type:disabled:hover {
    border-right: 1px solid var(--dnd5e-color-blue-gray-3);
}

/*
 * TIDY 5E
 */
.tidy5e-sheet #custom-dnd5e-counters #custom-dnd5e-counters-edit-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
}

/*
 * GROUP SHEET
 */
.dnd5e.sheet.group .custom-dnd5e-counters-number input[type="number"],
.custom-dnd5e-counters-number > input {
    grid-column-start: 4;
}

.dnd5e.sheet.group .custom-dnd5e-counters ul {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.dnd5e.sheet.group .custom-dnd5e-counters-counter input[type="text"],
.dnd5e.sheet.group .custom-dnd5e-counters-counter input[type="number"] {
    height: var(--form-field-height);
}

.dnd5e.sheet.group .custom-dnd5e-counters-number input[type="number"] {
    background-color: var(--dnd5e-color-parchment);
    border: 1px solid var(--color-border-light-tertiary);
}