.custom-dnd5e-app .window-content {
    padding: 0;
}

.custom-dnd5e-app nav.sheet-tabs {
    margin: 0;
}

.custom-dnd5e-form-wrapper {
    height: 100%;
    flex-wrap: nowrap;
}

.custom-dnd5e-form {
    height: 100%;
}

.custom-dnd5e-form .scrollable {
    flex: 1;
    padding: 0.5rem;
    overflow: hidden auto;
}

.custom-dnd5e-form ul {
    gap: 0.25rem;
    list-style-type: none;
    padding: 0;
}

.custom-dnd5e-form ul:empty {
    display: none;
}

.custom-dnd5e-form ul ul {
    flex: 100%;
    list-style-type: none;
    padding-left: 25px;
}

.custom-dnd5e-form li {
    align-items: center;
    gap: 0.25rem;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.custom-dnd5e-form li {
    cursor: move;
}

.custom-dnd5e-form li:first-child {
    border-top: 1px solid transparent;
    padding-top: 0;
}

.custom-dnd5e-form li.dragElem {
    opacity: 0.4;
}

.custom-dnd5e-form li.drag-top {
    border-top: 1px solid red;
}

.custom-dnd5e-form li.drag-middle {
    border: 1px solid red;
}

.custom-dnd5e-form li.drag-bottom {
    border-bottom: 1px solid red;
}

.custom-dnd5e-col-group {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 0.5rem;
}

.custom-dnd5e-form .form-group.stacked label {
    align-items: center;
    display: flex;
}

.custom-dnd5e-form .fields {
    align-items: center;
    display: flex;
    gap: 0.5em;
}

.custom-dnd5e-form .field {
    align-items: center;
    display: flex;
    flex: auto;
    gap: 0.25em;
}

.custom-dnd5e-form .field.flex1 {
    flex: 1;
}

.custom-dnd5e-form .field.flex2 {
    flex: 2;
}

.custom-dnd5e-form .flexa {
    flex: auto;
}

.custom-dnd5e-form footer {
    display: flex;
    flex: 0;
    flex-direction: column;
    gap: 0.25em;
    margin: 1rem;
}

.custom-dnd5e-list-buttons {
    display: flex;
    flex: 0;
}

.custom-dnd5e-list-button {
    background: transparent;
    border: none;
    border-radius: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.custom-dnd5e-list-button:last-of-type {
    border-right: none;
}

.custom-dnd5e-list-button:hover {
    box-shadow: none;
}

.custom-dnd5e-list-button:disabled {
    cursor: unset;
}

.custom-dnd5e-list-button:disabled > i {
    color: transparent;
}

.custom-dnd5e-list-button:hover > i {
    text-shadow: 0 0 5px var(--color-shadow-primary);
    outline: none;
}

.custom-dnd5e-form .custom-dnd5e-list-button:disabled:hover > i {
    text-shadow: none;
}

.custom-dnd5e-form .new-button {
    background: rgba(255, 255, 240, 0.8);
    border: 1px solid var(--color-border-light-primary);
}

.custom-dnd5e-form .hidden {
    display: none;
}

.custom-dnd5e-item {
    align-items: center;
    border: 1px solid transparent;
    display: flex;
    gap: 0.25rem;
    padding-top: 0.25rem;
}

.custom-dnd5e-item > i {
    color: var(--color-text-light-7);
}

.custom-dnd5e-advice.notes {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid var(--color-border-light-2);
    border-radius: 3px;
    font-style: italic;
    margin: 0;
    margin-bottom: 0.25rem;
    padding: 0.25rem;
}

.custom-dnd5e-warning.notes {
    background: rgba(255, 0, 0, 0.2);
    border: 1px solid var(--color-level-error);
    border-radius: 3px;
    color: var(--color-level-error);
    font-style: italic;
    margin: 0;
    margin-bottom: 0.25rem;
    padding: 0.25rem;
}
