/*
 * CAMP SUPPLIES
 */
 .custom-dnd5e-camp-supplies {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    padding: 0.5rem;
}

.custom-dnd5e-camp-supplies > img {
    border: 2px solid var(--dnd5e-color-gold);
    border-radius: 5px;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 1);
    width: 40px;
}

.custom-dnd5e-camp-supplies > p {
    color: var(--color-text-dark-primary);
    font-family: var(--dnd5e-font-roboto-slab);
    font-size: var(--font-size-15);
    font-weight: bold;
}

.custom-dnd5e-camp-supplies > p.custom-dnd5e-failure {
    color: var(--dnd5e-color-failure);
}

/*
 * CURSOR LABEL
 */
#custom-dnd5e-cursor-label {
    display: flex;
    gap: 0.15rem;
    font-family: var(--font-primary);
    font-size: var(--font-size-16);
    position: absolute;
    visibility: hidden;
    z-index: 9999;
}

#custom-dnd5e-cursor-label-advantage {
    color: var(--dnd5e-color-success);
    display: none;
    text-shadow: -1px 0 1px white, 1px 0 1px white, 0 -1px 1px white, 0 1px 1px white;
}

#custom-dnd5e-cursor-label-disadvantage {
    color: var(--dnd5e-color-failure);
    display: none;
    text-shadow: -1px 0 1px white, 1px 0 1px white, 0 -1px 1px white, 0 1px 1px white;
}

#custom-dnd5e-cursor-label-skip-dialog {
    color: var(--dnd5e-color-gold);
    display: none;
    text-shadow: -1px 0 1px rgba(255,255,255,0.8), 1px 0 1px rgba(255,255,255,0.8), 0 -1px 1px rgba(255,255,255,0.8), 0 1px 1px rgba(255,255,255,0.8);
}