

.flex0 {
    flex: 0;
}


.custom-dnd5e-app {
    height: 100%;
}

.custom-dnd5e-app .standard-form {
    height: 100%;
}

.custom-dnd5e-app.application .flexrow {
    display: flex;
    flex: 1;
    gap: 0.5rem;
}

.custom-dnd5e-app nav.sheet-tabs {
    margin: 0;
}

.custom-dnd5e-app.application h2,
.custom-dnd5e-app.application h3 {
    margin: 0;
    padding-bottom: 0.25rem;
}

.custom-dnd5e-app.application h2 {
    font-family: var(--font-h3);
    font-size: 1.5rem;
}

.custom-dnd5e-app.application h3 {
    font-size: 1.2rem;
}

.custom-dnd5e-app .form-group > label {
    line-height: 1.2rem;
}

.custom-dnd5e-app ul {
    gap: 0rem;
    list-style-type: none;
    margin: 0;
    padding: 0.25rem 0 0 0;
}

.custom-dnd5e-app ul:empty {
    display: none;
}

.custom-dnd5e-app ul ul {
    flex: 100%;
    list-style-type: none;
    padding-left: 25px;
}

.custom-dnd5e-app.application ul .flexrow > ul {
    flex: 100%;
}

.custom-dnd5e-app li {
    align-items: center;
    gap: 0.25rem;
    border-top: 1px solid var(--color-border);
}

.custom-dnd5e-app .custom-dnd5e-drag {
    cursor: move;
}

.custom-dnd5e-app .standard-form > ul > li:first-child,
.custom-dnd5e-app .standard-form > section > ul > li:first-child {
    border-top: 1px solid transparent;
    padding: 0;
}

.custom-dnd5e-app li.dragElem {
    opacity: 0.4;
}

.custom-dnd5e-app li.drag-top {
    border-top: 1px solid red;
}

.custom-dnd5e-app li.drag-middle {
    border: 1px solid red;
}

.custom-dnd5e-app li.drag-bottom {
    border-bottom: 1px solid red;
}

.custom-dnd5e-col-group {
    border-left: 1px solid var(--color-border);
    gap: 0.5rem;
    padding: 0 0 0 0.5rem;
}

.custom-dnd5e-app .form-group.stacked label {
    align-items: center;
    display: flex;
}

.custom-dnd5e-app .field {
    align-items: center;
    display: flex;
    flex: 1;
    gap: 0.25em;
}

.custom-dnd5e-app .field.flex1 {
    flex: 1;
}

.custom-dnd5e-app .field.flex2 {
    flex: 2;
}

.custom-dnd5e-app .flexa {
    flex: auto;
}

.custom-dnd5e-app button.unbutton {
    background: none;
    border: none;
    border-radius: 0;
    display: inline-block;
    line-height: normal;
    margin: 0;
    padding: 0; 
    outline: none;
    width: unset;
}

.custom-dnd5e-app button.unbutton:focus,
.custom-dnd5e-app button.unbutton:hover {
    background: none;
    box-shadow: none;
    text-shadow: 0 0 5px var(--color-shadow-primary);
}

.custom-dnd5e-app .standard-form .form-footer > button.new-button {
    flex: 100%;
}

.custom-dnd5e-app button.new-button {
    height: calc(1.25 * var(--input-height));
    min-width: 180px;
    margin-bottom: 0.5rem;
}

.application .flexrow > .custom-dnd5e-list-buttons,
.custom-dnd5e-list-buttons {
    display: flex;
    flex: 0;
    justify-content: center;
}

button.custom-dnd5e-list-button {
    background: transparent;
    border: none;
    border-radius: 0;
    padding: 0 0.5rem;
    margin: 0;
}

button.custom-dnd5e-list-button:hover,
button.custom-dnd5e-list-button:focus {
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
}

.custom-dnd5e-list-button:last-of-type {
    border-right: none;
}

.custom-dnd5e-list-button:hover {
    box-shadow: none;
}

.custom-dnd5e-list-button:disabled {
    cursor: unset;
}

.custom-dnd5e-list-button:disabled > i {
    color: transparent;
}

.custom-dnd5e-list-button:hover > i {
    text-shadow: 0 0 5px var(--color-shadow-primary);
    outline: none;
}

.custom-dnd5e-app .custom-dnd5e-list-button:disabled:hover > i {
    text-shadow: none;
}

.custom-dnd5e-app .hidden {
    display: none;
}

.custom-dnd5e-item {
    align-items: center;
    border: 1px solid transparent;
    display: flex;
    gap: 0.25rem;
    padding: 0.5rem 0 0.5rem 0;
}

.custom-dnd5e-item > i {
    color: var(--color-text-light-7);
}

.custom-dnd5e-advice.notes {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    font-style: italic;
    margin: 0;;
    padding: 0.25rem;
    flex: 0 1 100%;
}

.custom-dnd5e-warning.notes {
    background: rgba(255, 0, 0, 0.2);
    border: 1px solid var(--color-level-error);
    border-radius: 3px;
    color: var(--color-level-error);
    font-style: italic;
    margin: 0;
    margin-bottom: 0.25rem;
    padding: 0.25rem;
}
