/*
 * CAMP SUPPLIES
 */
 .custom-dnd5e-camp-supplies {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    padding: 0.5rem;
}

.custom-dnd5e-camp-supplies > img {
    border: 2px solid var(--dnd5e-color-gold);
    border-radius: 5px;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 1);
    width: 40px;
}

.custom-dnd5e-camp-supplies > p {
    color: var(--color-text-primary);
    font-family: var(--dnd5e-font-roboto-slab);
    font-size: var(--font-size-15);
    font-weight: bold;
}

.custom-dnd5e-camp-supplies > p.custom-dnd5e-failure {
    color: var(--color-level-error);
}

/*
 * CURSOR LABEL
 */
#custom-dnd5e-cursor-label {
    display: flex;
    direction: rtl;
    gap: 0.25rem;
    font-family: var(--font-primary);
    position: absolute;
    transform: translateX(-100%);
    visibility: hidden;
    z-index: 9999;
}

#custom-dnd5e-cursor-label {
    text-shadow:
        -1px 0 1px rgba(0, 0, 0, 1),
        0 -1px 1px rgba(0, 0, 0, 1),
        0 1px 1px rgba(0, 0, 0, 0.8),
        1px 0 1px rgba(0, 0, 0, 0.8),
        1px 1px 3px rgba(0, 0, 0, 0.8);
}

.custom-dnd5e-cursor-label-icon {
    display: none;
    position: relative;
}

.custom-dnd5e-cursor-label-icon .fa-dice-d20 {
    font-size: 1.5em;
}

.custom-dnd5e-cursor-label-icon .fa-up-long,
.custom-dnd5e-cursor-label-icon .fa-down-long {
    color: white;
    font-size: 0.8em;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

#custom-dnd5e-cursor-label-advantage {
    color: #228b22;
}

#custom-dnd5e-cursor-label-disadvantage {
    color: #e34234;
}

#custom-dnd5e-cursor-label-skip-dialog {
    color: var(--dnd5e-color-gold);
    font-size: 1.5em;
}

/*
 * RULER TRAVEL TIME
 */
.custom-dnd5e-measurement-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.custom-dnd5e-travel-time {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
    font-size: var(--font-size-14);
    padding-top: 0.25rem;
    transform-origin: top center;
}

.custom-dnd5e-travel-time .pace {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-text-subtle);
}

.custom-dnd5e-travel-time .pace i {
    width: 1rem;
    text-align: right;
}

.custom-dnd5e-travel-time .movement-label {
    font-size: var(--font-size-12);
    color: var(--color-text-subtle);
    text-align: center;
}

/*
 * JUMP DISTANCE
 */
:is(#tooltip, .locked-tooltip).property-attribution .custom-dnd5e-jump-separator {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin: 4px 0;
}

:is(#tooltip, .locked-tooltip).property-attribution .row.custom-dnd5e-secondary {
    padding-left: 22px;
    opacity: 0.7;
    font-size: var(--font-size-12);
}

/*
 * TOKEN HUD
 */

#token-hud.custom-dnd5e-hud .col.left {
    align-items: center;
    margin-left: 0.5rem;
}

#token-hud.custom-dnd5e-hud .status-effects .effect-control:hover {
    filter: drop-shadow(0 0 1px var(--control-hover-border-color)) drop-shadow(0 0 1px var(--control-hover-border-color));
    opacity: 1;
}

#token-hud.custom-dnd5e-hud .status-effects .effect-control.active {
    border: none;
    opacity: 1;
}

#token-hud.custom-dnd5e-hud .status-effects .effect-control.active:not(.overlay):not(:hover) {
    filter: drop-shadow(0 0 1px var(--control-active-border-color)) drop-shadow(0 0 2px var(--control-active-border-color));
}

#token-hud.custom-dnd5e-hud .status-effects .effect-control.active.overlay:not(:hover) {
    background-color: color-mix(in srgb, var(--toggle-active-bg-color) 50%, transparent);
    border-radius: 2px;
    filter: drop-shadow(0 0 1px var(--toggle-active-bg-color)) drop-shadow(0 0 1px var(--toggle-active-bg-color));
}

#token-hud.custom-dnd5e-hud.placeable-hud .control-icon {
    height: calc(var(--control-size) + 5px);
    width: calc(var(--control-size) + 5px);
    line-height: calc(var(--control-size) + 5px);
    flex: 0 0 calc(var(--control-size) + 5px);
    padding: 7px;
}

#token-hud.custom-dnd5e-hud.placeable-hud .control-icon:not([data-action="togglePalette"]) {
    border-radius: 100%;
}

#token-hud.custom-dnd5e-hud.placeable-hud .control-icon:hover {
    border-color: var(--control-hover-border-color);
}

#token-hud.custom-dnd5e-hud.placeable-hud .control-icon:hover img,
#token-hud.custom-dnd5e-hud.placeable-hud .control-icon:hover i {
    filter: drop-shadow(0 0 1px var(--control-hover-border-color)) drop-shadow(0 0 1px var(--control-hover-border-color));
}

#token-hud.custom-dnd5e-hud.placeable-hud .control-icon.active:not(:hover) {
    border-color: var(--control-active-border-color);
}

#token-hud.custom-dnd5e-hud.placeable-hud .control-icon i.fa-gear {
    margin-top: 1px;
}

#token-hud.custom-dnd5e-hud.placeable-hud .control-icon.active:not(:hover) img,
#token-hud.custom-dnd5e-hud.placeable-hud .control-icon.active:not(:hover) i {
    filter: drop-shadow(0 0 1px var(--control-active-border-color)) drop-shadow(0 0 1px var(--control-active-border-color));
}